:root {
    --font-open-sans: "Open Sans", sans-serif;
    --font-raleway: "Ralway", sans-serif;
    --color-primary: #08A6E4;
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey: #A5A5A5;
    --color-light-grey: #f7f7f7;
    --button-radius: 35px;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
}

*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 1052px;
    margin: 0 auto;
}

/*header*/

.header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
}

.header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--font-raleway);
    color: var(--color-primary);
    font-weight: 300;
    font-size: 32px;
}

.header__nav {
    display: flex;
}

.nav__link {
    color: var(--color-grey);
    letter-spacing: 3.28px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
}

.nav__link:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

.nav__element {
    padding: 0 26px;
}

.nav__element:last-child {
    padding-right: 0;
}

/*opening*/

.opening_background{
    width: 100%;
    height: auto;
}
.opening {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.opening__content {
    margin-top: 130px;
    text-align: center;
}

.opening__header {
    font-family: var(--font-raleway);
    font-size: 49px;
    color: var(--color-black);
}

.opening__heading {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 38px;
}

.btn__primary {
    background-color:  var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    border-radius: 40px;
    display: inline-block;
    width: 440px;
    height: 67px;
    font-weight: bold;
    padding: 22px 155px;
    color: var(--color-white);
    font-size: 16px;
    border: none;
}

/*statistics*/

.statistics {
    margin-top: 100px;
}

.statistics__container {
    display: flex;
    justify-content: space-between;
    max-width: 820px;
    margin: 100px auto 120px
}

.statistics__header {
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 36px;
    color: var(--color-black)
}

.statistics__unit {
    max-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-family: var(--font-raleway);
}

.statistics__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.statistics__img {
    position: absolute;
}

.statistics__unit:first-child .statistics__circle {
    background-color: var(--color-redish);
}

.statistics__unit:nth-child(2) .statistics__circle {
    background-color: var(--color-primary);
}

.statistics__unit:last-child .statistics__circle {
    background-color: var(--color-green);
}

.statistics__unit:first-child .statistics__img {
    margin-left: 5%;
    margin-top: 0;
}

.statistics__unit:nth-child(2) .statistics__img {
    margin-left:-15%;
    margin-top: 20%;
}

.statistics__unit:last-child .statistics__img {
    margin-left: 3%;
    margin-top: 8%;
}

.statistics__number {
    letter-spacing: 5.96px;
    font-weight: 800;
    margin: 15px auto 19px;
    color: var(--color-black);

}

.statistics__description {
    color: var(--color-grey);
}

/*benefits*/


.benfits {
    background-color: var(--color-light-grey);
    padding: 100px;
}
.benefits_container {
    margin: 0 auto;
    width: 1124px;
}

.benefits_unit__computer {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    margin-bottom: 37px;
    justify-content: space-around;
    border-radius: 5px;
    border: 1px solid #E8E9ED;


}

.benefits__description__computer  {
    max-width: 416px;
    margin: 91px 35px;
    box-sizing: content-box;

}
.benefits__description__computer::after {
    content: "";
    width: 330px;
    height: 4px;
    background-color: var(--color-redish);
    display: block;
    margin-top: 50px;
}

.benefits__header {
    font-family: var(--font-raleway);
    font-size: 36px;
    text-align: left;
    margin-bottom: 30px;
    font-weight: 100;
}

.benefits__text {
    font-family: var(--font-open-sans);
    font-size: 16px;
    color: var(--color-black);
    text-align: left;
}
.benefits__computer__img {
    position: relative;
    margin-top: 117px;
    margin-bottom: 38px;
    z-index: 2;

}
.benefits__computer__square {
    width:170px;
    height: 170px;
    background-color: var(--color-redish);
    display: block;
    border-radius: 41px;
    position: absolute;
    right: 0px;
    top: -40px;
    transform: rotate(45deg);
}

.benefits__computer__img img{
    width:386px;
    height: auto;
    position: relative;
    z-index: 2;
}

.benefits_unit__phone {
    display: flex;
    align-items: flex-start;
    background-color: var(--color-white);
    margin-bottom: 37px;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    flex-direction: row-reverse;

}

.benefits__description__phone  {
    max-width: 416px;
    margin: 91px 35px;
    box-sizing: content-box;
    padding: 0 20px 0 100px;

}
.benefits__description__phone::after {
    content: "";
    width: 330px;
    height: 4px;
    background-color: var(--color-primary);
    display: block;
    margin-top: 50px;
}
.benefits__phone__img {
    position: relative;
    z-index: 2;
    margin: 70px 13px;

}
.benefits__circle__img {
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: -20px;
}

.benefits__phone__img img{
    width:426px;
    height: auto;
   }

.benefits__unit2 {
    display: flex;

}
.text__box {
    max-width: 623px;
    background-color: var(--color-white);
}

.benefits__description__trumpet  {
    margin: 70px 35px;
    box-sizing: content-box;

}
.benefits__description__trumpet::after {
    content: "";
    width: 330px;
    height: 4px;
    background-color: var(--color-green);
    display: block;
    margin-top: 50px;
}

.benefits__unit2__img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    margin-left: 60px;
    flex-grow: 1;

}

.benefits__unit2__img img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

/*pricing*/

.pricing__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;

}
.pricing_title {
    font-family: var(--font-raleway);
    font-size: 36px;
    text-align: center;
    color: var(--color-black);
    display: inline;

}

.pricing__boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.pricing__box__main {
    margin-top: 34px;
    margin-bottom: 69px;
    text-align: center;
}

.pricing__box__sort {
    font-family: var(--font-open-sans);
    font-size: 20px;
    font-weight: bold;
}

.pricing__box__limmited {
    color: var(--color-black);
    font-size: 12px;
    font-family: var(--color-redish);
    font-weight: bold;

}

.pricing__box--basic {
    border: 1px solid var(--color-redish);
    border-radius: 18px;
    width: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__box--basic .pricing__box__price {
    font-size: 46px;
    font-family: var(--font-open-sans);
    color: var(--color-redish);
    font-weight: 300;
    margin-top: 14px;
    margin-bottom: 30px;

}

.pricing__points {
    text-align: center;
    margin-bottom: 53px;
}

.pricing__point {
    font-size: 14px;
    font-family: var(--font-open-sans);
    margin-bottom: 20px;

}

.pricing__point::before {
    content:"";
    width: 11px;
    height: 11px;
    display: inline-block;
    background-image: url("../assets/Ckechmark-1.svg");
    margin-right: 10px;
}

.pricing__point__red {
    font-size: 14px;
    font-family: var(--font-open-sans);
    margin-bottom: 20px;

}

.pricing__point__red::before {
    content:"";
    width: 11px;
    height: 11px;
    display: inline-block;
    background-image: url("../assets/Close.svg");
    margin-right: 10px;
}

.pricing__box--basic .pricing__btn {
    width: 150px;
    height: 50px;
    display: inline-block;
    border-radius: 23px;
    background-color: var(--color-redish);
    border: none;
    font-family: var(--font-open-sans);
    font-size: 13px;
    font-weight: bold;
    color: var(--color-white);
    padding: 16px 57px;
    position: relative;
    margin-bottom: -25px;

}
.pricing__box--professional {
    border: 1px solid var(--color-primary);
    border-radius: 18px;
    width: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 40px;
    box-shadow: 5px 10px 27px var(--color-primary-shadow);

}

.pricing__box--professional .pricing__box__price {
    font-size: 46px;
    font-family: var(--font-open-sans);
    color: var(--color-primary);
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 25px;
}

.pricing__box--professional .pricing__btn {
    width: 150px;
    height: 50px;
    display: inline-block;
    border-radius: 23px;
    background-color: var(--color-primary);
    border: none;
    font-family: var(--font-open-sans);
    font-size: 13px;
    font-weight: bold;
    color: var(--color-white);
    padding: 16px 57px;
    position: relative;
    margin-bottom: -25px;
}

.pricing__box--professional .pricing__points .pricing__point {
    margin-bottom: 26px;
}

.pricing__box--premimum {
    border: 1px solid var(--color-green);
    border-radius: 18px;
    width: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pricing__box--premimum .pricing__box__price {
    font-size: 46px;
    font-family: var(--font-open-sans);
    color: var(--color-green);
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 25px;
}

.pricing__box--premimum .pricing__btn {
    width: 150px;
    height: 50px;
    display: inline-block;
    border-radius: 23px;
    background-color: var(--color-green);
    border: none;
    font-family: var(--font-open-sans);
    font-size: 13px;
    font-weight: bold;
    color: var(--color-white);
    padding: 16px 57px;
    position: relative;
    margin-bottom: -25px;
}

/*contact*/

.contact__container {
    display: flex;
    justify-content: center;


}
.contact__column {
    width: 448px;
}

.contact__title {
    font-family: var(--font-raleway);
    font-size: 49px;
    margin-bottom: 22px;
    text-align: left;
}

.contact__description {
    font-family: var(--font-open-sans);
    text-align: left;
    font-size: 16px;
    margin-bottom: 40px;
}
.contact__links {
    display: flex;
    justify-content: flex-start;
}

.contact__links a {
    text-decoration: none;
    font-family: var(--font-open-sans);
    font-size: 16px;
    color: var(--color-grey);
    margin-right: 20px;
}

.contact__links img {
    margin-right: 10px;
    padding: 2px;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.form__name{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 11px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    letter-spacing: 3.28px;
}
.form__mail {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 11px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    letter-spacing: 3.28px;
}

.input__name {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    margin-bottom: 42px;
    line-height: 42px;
}

.input__mail {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    margin-bottom: 42px;
    line-height: 34px;
}

.checkbox__container {
    position: relative;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox {
    cursor: pointer;
    display: flex;
}

.checkbox span {
    height: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    cursor: pointer;
    margin-right: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #95989A;
    border-radius: 4px;
}

.checkbox input:checked + span {
    background-image: url(../assets/Checkmark.svg);
    background-color: transparent;
    background-size: 60%;
    background-position: center;
}

.checkbox__container {
    font-family: var(--font-open-sans);
    font-size: 12px;
    color: var(--color-grey);
    text-align: left;
    line-height: 17px;
    margin-bottom: 20px;
}

.contact__btn {
    width: 226px;
    height: 57px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 35px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    font-family: var(--font-open-sans);
    font-size: 13px;
    font-weight: bold;
    color: var(--color-white);
    align-self: flex-end;
    margin-bottom: 60px;

}

/*footer*/
.footer {
    background-color: var(--color-light-grey);
    box-shadow: 0px -5px 40px #00000029;
    padding: 20px 0 20px 0;

}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 137px
}
.footer__copyright {
    font-family: var(--font-open-sans);
    font-size: 11px;
    color: var(--color-grey);
    margin-top: 6px;
    text-align: left;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_icons .twitter{
    margin-right: 20px;

}